article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

@-webkit-keyframes loading {
  0% {
    background: #43a4f3; }
  100% {
    background: white; } }

@keyframes loading {
  0% {
    background: #43a4f3; }
  100% {
    background: white; } }

html {
  font-size: 62.5%; }

body {
  font-family: 'Muli', sans-serif;
  font-size: 1.6rem;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(81, 177, 255, 0.4)), to(rgba(90, 175, 245, 0.1))), url(../images/raindrop.jpg);
  background: -webkit-linear-gradient(rgba(81, 177, 255, 0.4), rgba(90, 175, 245, 0.1)), url(../images/raindrop.jpg);
  background: -o-linear-gradient(rgba(81, 177, 255, 0.4), rgba(90, 175, 245, 0.1)), url(../images/raindrop.jpg);
  background: linear-gradient(rgba(81, 177, 255, 0.4), rgba(90, 175, 245, 0.1)), url(../images/raindrop.jpg);
  text-align: center;
  margin: 0 auto;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative; }

.loadscreen-container {
  position: relative;
  width: 100%;
  height: 100vh; }

.loadscreen {
  background-color: white;
  z-index: 999;
  width: 100vw;
  position: absolute;
  height: 100vh;
  -webkit-animation: loading 3s;
  animation: loading 3s;
  top: 0;
  bottom: 0; }
  .loadscreen .load-img {
    position: absolute;
    width: 300px;
    right: 45%;
    -webkit-transform: translateY(30%);
    -ms-transform: translateY(30%);
    transform: translateY(30%); }
    .loadscreen .load-img img {
      width: 100%; }
  .loadscreen .title {
    position: absolute;
    font-size: 12rem;
    left: 55%;
    top: 0;
    font-family: 'Poiret One', cursive;
    font-weight: 700;
    color: white; }
    .loadscreen .title span {
      color: black; }
  .loadscreen .slogan {
    position: absolute;
    font-size: 4rem;
    left: 55%;
    width: 100%;
    top: 60%;
    font-family: 'Poiret One', cursive; }
  @media (max-width: 890px) {
    .loadscreen .load-img {
      width: 200px;
      -webkit-transform: translateY(60%);
      -ms-transform: translateY(60%);
      transform: translateY(60%); }
    .loadscreen .title {
      font-size: 8rem; } }
  @media (max-width: 768px) {
    .loadscreen .load-img {
      right: 40%;
      width: 190px; } }

.text-container {
  background-color: rgba(255, 255, 255, 0.678);
  max-width: 1170px;
  width: 70%;
  border-radius: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 1% 2% 2% 2%;
  position: relative; }
  .text-container .social {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    .text-container .social p {
      font-family: 'Poiret One',cursive;
      margin: 0 0 5px 0;
      padding: 0;
      text-transform: capitalize;
      word-spacing: 5px; }
    .text-container .social a {
      color: #e76565; }
      .text-container .social a:focus, .text-container .social a:visited, .text-container .social a:active {
        color: #e76565; }
    .text-container .social .cece,
    .text-container .social .callie {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      font-family: 'Poiret One', cursive; }
      .text-container .social .cece p,
      .text-container .social .callie p {
        padding: 0;
        margin: 0 5px; }
  .text-container p {
    font-size: 1.8rem; }

button {
  display: inline-block;
  background-color: rgba(54, 176, 247, 0.801);
  position: absolute;
  padding: 1.6rem 1.5rem 1.3rem;
  border-radius: 50%;
  margin-bottom: 1rem;
  bottom: 7%;
  right: 8%;
  z-index: 99; }
  button:hover, button:focus {
    background-color: rgba(23, 149, 221, 0.801);
    color: white;
    outline: none; }
  button .toiletbutton {
    width: 30px; }
    button .toiletbutton img {
      width: 100%; }
  @media (max-width: 1200px) {
    button {
      right: 10%; } }

#map {
  height: 50rem;
  width: 100%;
  margin: 0 auto;
  border-radius: 5%;
  display: inline-block;
  z-index: 0; }

@media (max-width: 768px) {
  .text-container {
    max-width: 38rem;
    margin-left: 0;
    margin-right: 0;
    padding: 1rem; }
    .text-container button {
      right: 15%;
      bottom: 5%; } }

@media (max-width: 480px) {
  .text-container {
    width: 100%;
    height: 100vh;
    border-radius: 0; }
  #map {
    width: 100%;
    height: 95vh; }
  button {
    display: inline-block;
    font-size: 1.6rem;
    right: 22%;
    bottom: 5%;
    -webkit-box-shadow: .3rem .7rem 1.4rem #535F62;
    box-shadow: .3rem .7rem 1.4rem #535F62;
    margin-bottom: 1rem;
    margin-top: 20px; }
    button .toiletbutton {
      width: 20px; } }

@media (max-width: 321px) {
  .text-container {
    background-image: none;
    background-color: #47C7E2; } }
